.divProd{
    width: 370px;
    height: 430px;
    border: 1px solid gray;
}

.divCabecera{
    background-color: rgb(212, 211, 211);
    font-weight: bold;
    font-size: 22px;
    height: 40px;
    padding-top:8px;
}

.precioProd{
    color:red;
    font-weight: bold;
    font-size: 20px;
}

.botonProd{
    width: 230px;
    height: 40px;
}

.botonProd:hover{
    background-color: red;
    color:white;
}

.loadingItem{
    width: 60px;
}

.imagenProducto{
    width: 300px;
    height: 270px;
}

.divProductos{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.divProductoUnitario{
    padding-left: 20px;
}