.div{
    width: 90%;
    border: 1px solid gray;
    margin-bottom: 20px;
    margin-left: 5%;
    height: 512px;
}

.imagenProductoDetail{
    width: 500px;
    margin-left:20px;
}

.divImagen{
    width: 50%;
    border: 1px solid gray;
    height: 510px;
}

.divTexto{
    width: 50%;
    border: 1px solid gray;
}

.tabla{
    width: 100%;
}

.nombreProducto{
    color:red;
}

.botonProdDetalle{
    
    width: 50%;
    height: 40px;
    font-size:large;
    transition: 0.3s;
}

.botonProdDetalle:hover{
    background-color: red;
    color:white;
}

.botonProdDetalleCarrito{
    
    width: 50%;
    height: 40px;
    font-size:large;
    background-color: red;
    color:white;
    transition: 0.3s;
}

.botonProdDetalleCarrito:hover{
    background-color: transparent;
    color:black;
}

.divProdDetalle{
    padding: 40px;
}

.cargandoProd{
    width: 60px;
}


.tablaStock{
    width: 50%;
    margin:auto;
}

.cantidad{
    text-align: left;
    padding-left:5px;
    
}

.stock{
    text-align: right;
    padding-right:5px;
    width: 50%;
}

.contadorMenos{
    width: 5%;
}

.contadorMas{
    width: 5%;
    align-self: left;
}

.botonContadorMenos{
    border-radius: 40px 0px 0px 40px;
    width: 75px;
    float:right;
    border-right: hidden;
    border: 1px;
    height: 25px;
}

.botonContadorMenos:hover{
    background-color: red;
    color:white;
}

.botonContadorMas{
    border-radius: 0px 40px 40px 0px;
    width: 75px;
    float:left;
    border-left: hidden;
    border: 1px;
    height: 25px;
}

.botonContadorMas:hover{
    background-color: red;
    color:white;
}

.contadorTexto{
    width: 100%;
    display: block;
    border: 1px;
    border-left: hidden;
    border-right: hidden;
    height: 25px;
}


.stockTexto{
    font-weight: bold;
}