.divNav {
    overflow: hidden;
    background-color: gray;
    display: flex;
    height: 60px;
}

.divNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    height: 100%;
}

.nombreTienda{
    font-size: 20px;
    font-weight: bold;
}

.navLogo{
    width: 20%;
    align-self: center;
}

.navMenu{
    width: 75%;
    align-self: center;
}

.navCarrito{
    width: 5%;
    align-self: center;
}

